.delivery {
  display: flex;
  align-items: center;
  height: 45rem;
  width: 100%;
}

.delivery__container {
  display: flex;
  justify-content: space-between;
  background-color: var(--tertiary-color);
  height: 25rem;
  width: 70%;
  padding: 3% 15%;
}

.delivery__container--content {
  display: flex;
  flex-direction: column;
  padding: 2% 0 5% 0;
  width: 70%;
}

.delivery__container--title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 3.5rem;
  color: var(--text-color-secondary);
}

.delivery__container--description {
  margin: 2% 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.75rem;
  color: #dacfcf;
}

.delivery__container--button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  margin-top: 2%;
  height: 3rem;
  background-color: var(--primary-color);
  border-radius: 6px;

  color: var(--text-color-secondary);
}

.delivery__container--button:active {
  color: var(--white-color);
  transform: scale(0.98);
}
.delivery__container--button a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: var(--white-color);
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.135rem;
}

.delivery__container--button a:hover {
  color: var(--white-color);
  text-decoration: none;
}

.delivery__container--image {
  width: 20%;
  margin-right: 8%;
}

@media screen and (max-width: 1000px) {
  .delivery {
    height: 40rem;
  }
  .delivery__container {
    width: 100%;
    padding: 0 5%;
    height: 90%;
  }
  .delivery__container--content {
    width: 100%;
    padding: 0;
    margin-top: 12%;
  }
  .delivery__container--title {
    font-size: 3rem;
    line-height: 3.75rem;
  }
  .delivery__container--description {
    padding-top: 2%;
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .delivery__container--button {
    width: 50%;
    margin-top: 8%;
    padding: 2% 0;
  }
  .delivery__container--button a {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .delivery__container--image {
    display: flex;
    align-self: flex-end;
    justify-content: center;
    align-items: center;
    height: 70%;
  }
  .delivery__container--image img {
    width: 120%;
    height: 120%;
  }
}
