.images {
  margin: 1% 0;
  display: flex;
  flex-wrap: wrap;
}
.image {
  padding: 0 2% 2% 0;
  display: flex;
  justify-content: center;
}
.delete {
  z-index: 1;
}
.delete button {
  border: 2px solid rgb(182, 182, 182);
  background-color: rgb(255, 255, 255);
  color: black;
  border-radius: 20px;
  margin: -5px 0 0 -20px;
}