.footer-main {
  display: flex;
  justify-content: space-between;
  padding: 5% 10% 2% 10%;
  background-color: var(--primary-color);
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  min-height: 35vh;
}

.footer-main__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  width: 18%;
}

.footer-main__description--text {
  padding-top: 15%;
  font-size: 1.125rem;
  line-height: 1.8rem;
  font-weight: 300;
  color: var(--text-color-secondary);
}

.footer-main--title {
  font-size: 1.125rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.375rem;
  color: var(--text-color-secondary);
}

.footer-main__links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  width: 15%;
}

.footer-main__links--list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 5%;
  height: 100%;
  width: 100%;
}

.footer-main__links--list--item {
  padding: 8% 4%;
  font-size: 1.125rem;
  line-height: 1.135rem;
  color: var(--text-color-secondary);
}

.footer-main__links--list--item a {
  text-decoration: none;
  color: var(--text-color-secondary);
}

.footer-main__links--list--item a:hover {
  text-decoration: none;
  color: var(--text-color-secondary);
}

.footer-main__contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  width: 25%;
}

.footer-main__contact a {
  text-decoration: none;
  color: var(--text-color-secondary);
}

.footer-main__contact a:hover {
  text-decoration: none;
  color: var(--text-color-secondary);
}

.footer-main__contact--list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 5%;
}

.footer-main__contact--list--item {
  font-size: 1rem;
  line-height: 1.1875rem;
  margin: 2% 0;
  color: var(--text-color-secondary);
}

.footer-main--download {
  font-size: 1.125rem;
  font-size: 2rem;
  font-weight: 400;
  color: var(--text-color-secondary);
  margin-top: 10%;
}

@media screen and (max-width: 1000px) {
  .footer-main {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5% 10%;
    padding-bottom: 15%;
  }

  .footer-main--title {
    font-size: 3.5rem;
    line-height: 3.0625rem;
    padding: 8% 8% 0 0;
  }

  .footer-main__description {
    width: 100%;
    margin: 5% 0;
  }
  .footer-main__description--icon img {
    width: 250%;
    padding-bottom: 20%;
  }
  .footer-main__description--text {
    padding: 0;
    margin: 5% 0;
    font-size: 2.25rem;
    line-height: 2.625rem;
  }
  .footer-main__links {
    width: 100%;
    margin: 2% 0;
  }

  .footer-main__links--list {
    width: 100%;
  }
  .footer-main__links--list--item {
    font-size: 2.25rem;
    line-height: 2.625rem;
  }
  .footer-main__contact {
    width: 100%;
    margin: 2% 0 8% 0;
  }

  .footer-main__contact--list--item {
    font-size: 2.25rem;
    line-height: 2.625rem;
  }
  .footer-main--download {
    display: none;
  }
}
