.form-input {
  position: relative;
}

.form-input input::placeholder {
  opacity: 0;
}

.form-input input {
  width: 100%;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.125rem;
  padding: 18px;
  outline: none;
  border: 1px solid #aaaaaa;
  box-sizing: border-box;
  border-radius: 5px;
}

.form-input label {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.125rem;
  color: #aaaaaa;
  letter-spacing: 1px;
  transition: 0.3s;
}

.form-input input:focus + label,
.form-input input:not(:placeholder-shown) + label {
  top: 0;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.125rem;
  color: #AAAAAA;
  background: #fff;
}

.form-input input:focus {
  border: 2px solid #AAAAAA;
}


@media  screen and (max-width: 1000px) {
  .form-input input {
    font-size: 2rem;
    padding: 5% 0 5% 5%;
    border-radius: 6px;
  }

  .form-input label {
    font-size: 2rem;
    line-height: 2.25rem;
  }

  .form-input input:focus + label,
  .form-input input:not(:placeholder-shown) + label {
    font-size: 1.75rem;
    line-height: 2.25rem;
  }  
}